name: Dispatch
run-name: Dispatched Repository Actions - ${{ inputs.job }} ⌛️
on:
  workflow_dispatch:
    inputs:
      job:
        description: Dispatch job to run
        required: true
        type: choice
        options:
          - build
      prNumber:
        description: Pull request number to build (optional)
        required: false
        type: string
      fullMatrix:
        description: Build all platforms (macOS, Ubuntu, Windows)
        required: false
        type: boolean
        default: false
permissions:
  contents: write
jobs:
  check-and-build:
    if: inputs.job == 'build'
    uses: ./.github/workflows/build-project.yaml
    with:
      package: 'false'
      codesign: 'false'
      notarize: 'false'
      config: RelWithDebInfo
      buildMacos: ${{ inputs.fullMatrix && 'true' || 'false' }}
      buildUbuntu: 'true'
      buildWindows: ${{ inputs.fullMatrix && 'true' || 'false' }}
      ref: ${{ inputs.prNumber && format('refs/pull/{0}/head', inputs.prNumber) || github.ref }}
    secrets: inherit
